<mat-card>
    <mat-card-header>
        <h1>Crear publicación</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="postform" (ngSubmit)="createPost()">
            <mat-form-field class="w-full">
                <mat-label>Título de la publicación</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Contenido</mat-label>
                <input matInput formControlName="content">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Imagen que llevará la publicación</mat-label>
                <input matInput formControlName="mainImageUrl">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Id del video de youtube</mat-label>
                <input matInput formControlName="videoUrl">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="categoryId">
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <button type="submit" mat-raised-button color="primary">Registrar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>